@using DM.AbpZeroTemplate.DoorSystem
<div>
    <form name="areaForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.area.Id">@L("Edit"):{{vm.area.displayName}}</span>
                <span ng-if="!vm.area.Id">@L("AddSubArea")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="Name" ng-class="{'edited':vm.area.name}" ng-model="vm.area.name" required maxlength="@Area.MaxDefaultStringLength" />
                <label>@L("Name")</label>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="areaForm.$invalid"><i class="fa fa-save"></i><span>@L("Save")</span></button>
        </div>
    </form>
</div>
