@using DM.AbpZeroTemplate.DoorSystem

<div>
    <form name="messagesForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.message.Id">@L("Edit"):{{vm.message.name}}</span>
                <span ng-if="!vm.message.Id">@L("AddMessage")</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("MessageIsPublic")</label>
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="IsPublic" class="md-check" type="checkbox" name="IsPublic" ng-model="vm.message.isPublic">
                        <label for="IsPublic">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            （选中为公告，未选中择为业主通知）
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label>@L("HomeOwerCommunity")</label>
                <select id="communitySelectedCombox"
                        class="form-control"
                        required
                        ng-class="{'edited':vm.message.communityId}"
                        name="CommunityId"
                        ng-model="vm.message.communityId"
                        ui-jq="selectpicker"
                        ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                        data-live-search="true"
                        ng-options="community.id as community.name for community in vm.communityies"></select>
            </div>
        </div>

        <div class="modal-body" ng-if="!vm.message.isPublic&&vm.message.communityId">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="HomeOwerId" ng-class="{'edited':vm.message.homeOwerName}" ng-model="vm.message.homeOwerName"
                       ng-click="vm.selectHomeOwer()" />
                <label>@L("HomeOwerName")</label>
            </div>
        </div>

        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="Title" ng-class="{'edited':vm.message.title}" ng-model="vm.message.title" maxlength="@Message.MaxDefaultStringLength" />
                <label>@L("MessageTitle")</label>
            </div>
        </div>

        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <textarea auto-focus class="form-control" name="Content" ng-class="{'edited':vm.message.content}" ng-model="vm.message.content"></textarea>
                <label>@L("MessageContent")</label>
            </div>
        </div>

        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("MessageIsRead")</label>
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        <input id="IsRead" class="md-check" type="checkbox" name="IsRead" ng-model="vm.message.isRead">
                        <label for="IsRead">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            已读
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="messagesForm.$invalid"><i class="fa fa-save"></i><span>@L("Save")</span></button>
        </div>
    </form>
</div>


